@using Discussions.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Loginlayout.cshtml";
}
<style>
    .left {
        float: left;
    }
    .login-logo {
        color: #902b2b;
    }
</style>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    //    @Html.AntiForgeryToken()
   
   
    <div class="login-box">
        @if (ViewBag.message != null)
        {
        <div style="color:red"><b>@ViewBag.message </b></div>
        }
        <div class="login-logo">
            <b>Structured Discussions</b>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body ">
            <p class="login-box-msg left"><b>Login</b></p>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @*<span class="glyphicon glyphicon-envelope form-control-feedback"></span>*@
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @*<span class="glyphicon glyphicon-lock form-control-feedback"></span>*@
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            @*<input type="checkbox"> Remember Me*@
                            <a href="#">Forgot password? </a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>


            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="~/Account/Facebook" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                @*<a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>*@
            </div>
            <!-- /.social-auth-links -->

       <br>
            <a href="../Account/Signup" class="text-center">Need an account? Register </a>

        </div>
        <!-- /.login-box-body -->
    </div>

}

