@model Discussions.Models.Claim
@{
    ViewBag.Title = "Claim";
}
<style>

    .interestbuttons {
        font-family: Arial;
        font-size: 11px;
    }

    .qtip-wiki {
        max-width: 385px;
    }

        .qtip-wiki p {
            margin: 0 0 6px;
        }

        .qtip-wiki h1 {
            font-size: 20px;
            line-height: 1.1;
            margin: 0 0 5px;
        }

        .qtip-wiki img {
            float: left;
            margin: 10px 10px 10px 0;
        }

        .qtip-wiki .info {
            overflow: hidden;
        }

        .qtip-wiki p.note {
            font-weight: 700;
        }
</style>
<div class="content-wrapper" style="min-height: 388px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Verification of Facts</h1>

    </section>
    <!-- Main content -->
    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab"><b>Question</b></a> </li>
                <li><a href="#tab_2" data-toggle="tab"><b>Majority Opinion</b></a> </li>
                <li><a href="#tab_3" data-toggle="tab"><b>Discussion</b></a> </li>
                <li><a href="#tab_3" data-toggle="tab"><b>Edit</b></a> </li>
                <li><a href="#tab_3" data-toggle="tab"><b>History</b></a> </li>
                <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a> </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Proposition: @ViewBag.question</th>
                                        <th Width="10%"> 
                                            Rating <select name="cars">
                                                <option value="volvo">All</option>
                                                <option value="volvo">1</option>
                                                <option value="saab">2</option>
                                                <option value="fiat">3</option>
                                                <option value="audi">4</option>
                                                <option value="audi">5</option>
                                                <option value="audi">6</option>
                                                <option value="audi">7</option>
                                                <option value="audi">8</option>
                                                <option value="audi">9</option>
                                                <option value="audi">10</option>
                                            </select>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="stance_no"><span class="top_alignment"></span> STANCE: NO &nbsp;&nbsp;<span class="glyphicon glyphicon-plus " data-toggle="tooltip" title="Add your claim" onclick="addmodal(0)"></span></td>
                                    </tr>
                                    @foreach (var item in ViewBag.notance as List<Discussions.Models.Claim>)
                                    {
                                        <tr>

                                            <td colspan="2">
                                                <button class="accordion fa fa-fw"> @item.Claim1 </button>
                                                <div class="panelfor">
                                                    <p>  <img src="~/AdminLte/dist/img/con-image.png" style="width:31px;margin-top:-3px" /> @item.Evidence</p>
                                                    <div class="col-lg-3">
                                                        <div class="glyphicon glyphicon-thumbs-up top_alignment cursor" data-toggle="tooltip" title="I like this" onclick="vote(@item.QuestionId,@item.ClaimId,1,0,this)"><span class="interestbuttons" style="color:blue"> </span></div> &nbsp; &nbsp;
                                                        <div class="glyphicon glyphicon-thumbs-down top_alignment cursor" data-toggle="tooltip" title="I dislike this" onclick="vote(@item.QuestionId,@item.ClaimId,0,0,this)"><span class="interestbuttons" style="color:blue"> </span> </div>
                                                    </div>
                                                    <div class="col-lg-2"> <span><b>Source: </b> </span>@item.Source</div>
                                                    <div class="col-lg-2"> <span><b>User: </b> </span> <a href="#" data-toggle="popover" data-html="true" data-container="body" title="<b>@item.User.FirstName</b>" data-content="Email: @item.User.EmailId" data-trigger="hover">@item.User.FirstName</a></div>
                                                    <div class="col-lg-2"> <span><b>Date: </b> </span>@item.CreatedAt.Value.ToLocalTime()</div>
                                                    <div class="col-lg-1 pull-right">
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar progress-bar-red" style="width: @item.Rating%"></div>
                                                        </div> 
                                                    </div> 
                                                </div>
                                            </td>




                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="2" class="stance_yes">
                                            <span class="top_alignment"></span> STANCE: YES &nbsp;&nbsp;<span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Add your claim" onclick="addmodal(1)" />
                                        </td>
                                    </tr>
                                    @foreach (var item in ViewBag.yestance as List<Discussions.Models.Claim>)
                                    {
                                        <tr>
                                            <td colspan="2">
                                                <button class="accordion fa fa-fw"> @item.Claim1</button>
                                                <div class="panelfor"> @*<span class="fa fa-fw fa-angle-double-up"> </span>*@ 
                                                    <p> <img src="~/AdminLte/dist/img/pro-image.png" style="width:31px;margin-top:-3px" /> @item.Evidence</p>
                                                    <div class="col-lg-3">
                                                        <div class="glyphicon glyphicon-thumbs-up top_alignment cursor" data-toggle="tooltip" title="I like this" onclick="vote(@item.QuestionId,@item.ClaimId,1,1,this)"><span class="interestbuttons" style="color:blue"> </span></div> &nbsp; &nbsp;
                                                        <div class="glyphicon glyphicon-thumbs-down top_alignment cursor" data-toggle="tooltip" title="I dislike this" onclick="vote(@item.QuestionId,@item.ClaimId,0,1,this)"><span class="interestbuttons" style="color:blue"></span></div>
                                                    </div>
                                                    <div class="col-lg-2"> <span><b>Source: </b> </span>@item.Source</div>
                                                    <div class="col-lg-2"> <span><b>User: </b> </span>Test</div>
                                                    <div class="col-lg-2"> <span><b>Date: </b> </span>@item.CreatedAt</div>
                                                    <div class="col-lg-1 pull-right">
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar progress-bar-green" style="width:  @item.Rating%"></div>
                                                        </div>
                                                        </div>
                                                    </div>
                                            </td>
                                            @*<td Width="10%">
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-green" style="width:  @item.Rating%"></div>
                                                </div>
                                            </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their
                    most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                    words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- END TYPOGRAPHY -->
    </section>
    <!-- /.content -->
</div>
@Html.BeginForm(){
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Submit your answer</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="">
                                <div class="form-group">
                                    <label>Claim</label>
                                    @Html.TextBoxFor(x => x.Claim1, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Evidence</label>
                                    @Html.TextAreaFor(x => x.Evidence, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>source</label>
                                    @Html.TextBoxFor(x => x.Source, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @{int dc = ViewBag.questionid;}
            @Html.Hidden("QuestionId", dc)
            @Html.Hidden("Status", "", new { id = "statusvalue" })
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
}

<script src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
<link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ container: 'body' });
    });
    // MAKE SURE YOUR SELECTOR MATCHES SOMETHING IN YOUR HTML!!!
    function mouseover() {
        var userid = 1;
        $(this).qtip({
            content: {
                text: function (event, api) {
                    $.ajax({
                        type: "POST",
                        url: "../home/mouseover",
                        data: { "userid": userid },
                        dataType: "json",
                    })
                    .then(function (content) {
                        // Set the tooltip content upon successful retrieval
                        this.set('content.text', content);
                    }, function (xhr, status, error) {
                        // Upon failure... set the tooltip content to error
                        api.set('content.text', status + ': ' + error);
                    });

                    return 'Loading...'; // Set some initial text
                }
            },
            position: {
                viewport: $(window)
            },
            style: 'qtip-wiki'
        });
    }


    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + 'px';
            }
        }
    }
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function addmodal(i) {
        var status = true;
        if (i == 0) {
            status = false;
        }
        $("#statusvalue").val(status);
        $('#myModal').modal('show');
    }
    function submitclaim() {
        var question = "";
        var status = false;
        if (stance == "no") {
            status = false;
        } else {
            status = true;
        }
        $.ajax({
            type: "POST",
            url: "../home/submitclaim",
            data: { question: question },
            dataType: "json",
            beforeSend: function (xhr) {
                //$('#LoadingImage').show();
            },
            success: function (data) {
                debugger;
                if (data) {
                    $('#myModal').modal('hide');
                    var newtd = "<tr><td><button class=\"accordion\"> Only 10% Neurons used fallacy</button><div class=\"panelfor\"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiut aliquip ex ea commodo consequat.";
                    newtd += "</p><div class=\"col-lg-3\"><span class=\"glyphicon glyphicon-thumbs-up top_alignment cursor\" data-toggle=\"tooltip\" title=\"I like this\"></span> &nbsp; &nbsp;<span class=\"glyphicon glyphicon-thumbs-down top_alignment cursor\" data-toggle=\"tooltip\" title=\"I dislike this\"></span></div><div class=\"col-lg-3\"> <span><b>Source: </b> </span>[Link]</div>";
                    newtd += "<div class=\"col-lg-3\"> <span><b>Date: </b> </span>Jan 18 2017 at 10:57</div></div></td><td Width=\"10%\"><div class=\"progress progress-xs\">";
                    newtd += "<div class=\"progress-bar progress-bar-red\" style=\"width: 70%\"></div></div></td></tr>";
                    $("#nostance").append(newtd);
                } else {
                    alert("Error")
                }
            },
            error: function (result) {
                alert("Error");
            },
            complete: function (xhr) {

            },
        });
    }

    function vote(questionid, claimid,status, stance, div)
    {

        //var parent = div.className;
        //console.log(data);
        //console.log(parent);
        //this('.parent').removeClass('active');
        // $(parent).addClass('active');
        debugger;
        var status_ = true;
        if(status == 0)
        {
            status_ = false;
        }
        var stance_ = true;
        if(stance == 0)
        {
            stance_ = false;
        }
        $.ajax({
            type: "POST",
            url: "../home/vote",
            data: { questionid : questionid , claimid: claimid, status: status_, stance:stance_},
            dataType: "json",
            success: function (data) {
                debugger;
                if (data) {
                    location.reload();
                } else {
                    alert("Error")
                }
            },
            error: function (result) {
                alert("Error");
            },
        });
    }
</script>
